.env
web/app/uploads
web/app/uploads/*
web/app/cache
web/app/cache/*
web/app/advanced-cache.php
web/app/object-cache.php
web/app/wp-cache-config.php
.htaccess
web/.htaccess
.jsbeautifyrc
web/app/plugins
web/app/plugins/*
web/app/mu-plugins
web/app/mu-plugins/*
web/app/languages
web/app/languages/*
web/app/upgrade
web/app/upgrade/*
web/wp
web/wp/*
web/app/debug.log
web/app/themes/thechange/build/theme-dev.css
web/app/themes/thechange/build/theme-dev.css.map
web/app/themes/thechange/build/theme-dev.js
web/app/themes/thechange/build/theme.css
web/app/themes/thechange/build/theme.js
.DS_Store
.vscode
.vscode/*