@font-face {
    font-display: swap;
    font-family: 'Glacial';
    font-style: normal;
    font-weight: 400;
    src: url('../styles/fonts/nunito-400.woff2') format('woff2'),
}
@font-face {
    font-display: swap;
    font-family: 'Glacial';
    font-style: normal;
    font-weight: 700;
    src: url('../styles/fonts/nunito-700.woff2') format('woff2'),
}
@font-face {
    font-display: swap;
    font-family: 'Fugaz One';
    font-style: normal;
    font-weight: 400;
    src: url('../styles/fonts/fugaz-one-v19-latin-regular.woff2') format('woff2'),
}



body.front-end, 
section.container, 
#tinymce{ 
    font-family: 'Glacial', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #191D22;

    p, h1, h2, h3, h4, h5, h6{
        margin: 0px; 
    }

    p strong, strong p{
        font-size: 20px; 
        font-weight: 700;
    }

    h1{
        font-size: calc(72px + 3vw); 
        line-height: 1.1;

        @media screen and (max-width: 600px){
            font-size: calc(36px + 2vw); 
        }
    }

    h2{
        font-size: calc(48px + 2vw); 
        line-height: 1.2;
        @media screen and (max-width: 600px){
            font-size: calc(30px + 1.75vw); 
        }
    }

    h3{
        font-size: 48px;
        line-height: 40px;
        @media screen and (max-width: 600px){
            font-size: 32px;   
        }
    }

    h4{
        font-size: 38px; 
        line-height: 1.25;
        font-weight: 400;
        @media screen and (max-width: 600px){
            font-size: 29px; 
        }
    }

    h5{
        font-size: 30px; 
        font-weight: 700;
        @media screen and (max-width: 600px){
            font-size: 26px; 
        }
    }

    h6{
        font-size: 26px; 
        font-weight: 400; 
    }

    ul, ol{
        padding-left: 20px; 
    }

    
    /* How to handle spacing in text */
    p.space{
        min-height: 28px; height: 28px; 
        & + p.space{
            @media (max-width: 500px) {
               min-height: 14px; height: 14px; 
            }
        }
    }
}