section.subjects{
     position: relative; 
     z-index: 2; 

     h3{ margin-bottom: 40px; }

    .subject-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 12px);
        margin-left: -6px;    
        a.subject{
            margin: 6px; 
            opacity: 0; 
            transform: translateY(30px); 
        }
    }
}

@media screen and (max-width: 600px){
    section.subjects{
        .subject-wrapper{
            //flex-wrap:nowrap;
            a.subject{
                margin: 6px 3px;
            }
        }
    }
}