section.header-bubble.container{
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    overflow: hidden; 
    margin-bottom: 60px; 
    .inner-wide{
        position: relative; 
    }
    img.bg-pattern{
        width: 100%; 
        aspect-ratio: 17/10;
        mix-blend-mode: multiply;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 40px;
        font-weight: 700;
    }

    p {
        width: 100%;
    }
    .text{
        position: absolute; 
        top: 20.5vw;
        max-width: 55%;
        color: #fff; 
        form.search-anywhere{
            svg{ *{ fill: #fff; } }
            input[type=text]{ 
                background-color: transparent; 
                border: 2px solid #fff;
                color: #fff; 
                &::placeholder { color: #fff; }
            }
            input[type=submit]{
                background-image: url('images/arrow-right-longer.svg');  
            }
        }
    }
    .cta-image{
        position: absolute;  
        right: 0%; 
        top: 0px; 
        width: 45%; 
        picture{
            display: flex; 
            position: relative;
            width: 100%; 
            img{
                width: 100%; 
            }
            &:after{
                content: '';
                position: absolute; 
                width: 100%; 
                height: 7.5vw; 
                bottom: 0px;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
            }
        }
        .cta{
            display: flex; 
            align-items: center;
            justify-content: center;  
            background-color: #F6B72E; 
            color: #fff; 
            position: absolute; 
            z-index: 1; 
            top: 12vw; 
            right: 24vw; 
            width: 17.5vw;
            padding: 1.75vw; 
            text-align: center; 
            aspect-ratio: 1/1;
            border-radius: 50%; 
            font-size: 2.2vw;
            font-weight: 700;
            line-height: 1.2; 
        }
    }
     
    .article-slider-wrapper{
        display: flex; 
        position: absolute;
        bottom: 0px;  
        width: calc( (100% / 14) * 10 );
        left: calc( (100% / 14) + 10vw);
        margin-bottom: 7.5vw;
        .slide-right{
            display: flex; 
            align-items: center; 
            justify-content: center; 
            position: absolute;
            top: 50%; 
            border-radius: 50%; 
            margin-top: -32.5px; 
            width: 65px; 
            height: 65px; 
            background-color: #F6B72E;
            z-index: 3; 
            cursor: pointer; 
            opacity: 0; 
            transition: transform 0.2s;
            &.hide{ opacity: 0.25; }
            &:before{
                content: '';
                border-top: 3px solid #fff;
            }
        }
        .slide-right{
            right: 0vw;
            transform: rotate(45deg);
            &:before{
                border-right: 3px solid #fff; 
                width: 20px; 
                height: 20px;
                margin-bottom: -5px; 
                margin-right: 5px;
            }
            &:hover{
                transform: rotate(45deg) translateX(3px) translateY(-3px);
            }
        }  
    }
}

/* Animation start */
section.header-bubble.container{ 
    img.bg-pattern{ 
        opacity: 0; 
        transform: rotate(5deg) translateY(50px);
    }
    .text{ 
        opacity: 0; 
        transform: translateY(30px);
    }
    .cta-image{ 
        picture{
            opacity: 0.8; 
            transform: translateY(30px);
        }
        .cta{ 
            opacity: 0;
            transform: scale(0.94) translateY(20px); 
        }
    }
    .article-slider a.slide .inner-slide{
        opacity: 0; 
        transform: translateY(70px);
    }
}

@media screen and (max-width: 1450px){
    section.header-bubble.container{
        
        .inner-wide{
            width: calc(100% / 14 * 13);
        }
        .article-slider-wrapper{
            width: calc( (100% / 14) * 11 );
            left: calc( ((100% / 14) * 0.5) + 10vw );
        }
        .cta-image{
            .cta{
                top: 14vw; 
                right: 25vw;
            }
        }
    }
}

@media screen and (max-width: 1300px){
    section.header-bubble.container{
        img.bg-pattern{
            width: 110%; 
            margin-left: -5%; 
        }
        .text{
            max-width: 40%; 
            left: 7.5vw; 
            top: 12.5vw; 
        }
        .article-slider-wrapper{
            margin-bottom: 120px;
            left: calc( ((100% / 14) * 0.5) + 7.5vw );
        }
        padding-bottom: 180px; 
    }
}



@media screen and (max-width: 1100px) {
    section.header-bubble.container {
        padding-top: 0px; 
        padding-bottom: 0px; 
        margin-bottom: 240px; 
        overflow: visible; 
        &:after{
            content: '';
            position: absolute;
            width: 100%; 
            height: 100%; 
            left: 0px; 
            top: 0px; 
            background: linear-gradient(90deg,#f39e4c 0%, #d0e461 100%);
            mix-blend-mode: multiply;
            z-index: -1; 
        }


        h1, p {
            width: 100%;
        }

        img.bg-pattern{
            display: none;
        }
        .inner-wide {
            display: flex; 
            justify-content: space-between;
            align-items: center;
            margin-bottom: -60px; 
            .text {
                position: relative;
                top: auto; 
                max-width: 50%; 
                left: 0px; 
                padding-top: 30px;
                padding-bottom: calc(60px + 30px); 
            }
        
            .cta-image {
                position: relative;
                picture{
                    &:after{
                        display: none; 
                    }
                }
            }
        }
        .article-slider-wrapper {
            position: relative; 
            margin-bottom: -120px;
            left: 0px; 
            width: calc(100% / 14 * 13);
        }
    }
}

@media screen and (max-width: 900px) {
    section.header-bubble.container {
        .inner-wide {
            .text {
                position: relative;
                top: auto; 
                max-width: 60%; 
                left: 0px; 
                padding-top: 30px;
                padding-bottom: calc(60px + 30px); 
            }
        
            .cta-image {
                width: 45%;
                margin-right: -20%; 
                .cta{
                      width: 190px;
                      height: 190px;
                      padding: 30px; 
                      font-size: 24px;  
                      top: 7.5vw;
                      left: -75px; 
                }
            }
        }
    }
}

@media screen and (max-width: 700px){
    section.header-bubble.container {
        margin-bottom: 90px; 
        .inner-wide {
            flex-direction: column; 
            align-items: flex-start;
            width: 100%; 
            padding: 0px 20px; 
            margin-bottom: 80px; 
            .text{
                z-index: 2; 
                width: 420px; 
                max-width: 100%; 
                padding-top: 40px; 
                padding-bottom: 110px; 
            }
            .cta-image{
                position: absolute;  
                width: 100%; 
                height: 100%; 
                right: 0px; 
                margin-right: 0px; 
                bottom: 0px; 
                .cta{
                    display: flex; 
                    align-items: center;
                    width: calc(100% - 40px); 
                    bottom: -50px; 
                    height: 100px; 
                    border-radius: 0px; 
                    aspect-ratio: auto;  
                    top: auto; 
                    left: 20px; 
                    font-size: 22px;
                    border-radius: 50px; 
                }
                picture{
                    position: absolute; 
                    right: -70px; 
                    width: 240px; 
                    bottom: 0px; 
                }
            }
            &:after{
                content: '';
                position: absolute;
                width: 100%; 
                height: 100%; 
                left: 0px; 
                top: 0px; 
                background: linear-gradient(90deg,#f39e4c 0%, #d0e461 100%);
                mix-blend-mode: multiply;
                z-index: -1; 
            }
        }
        .article-slider-wrapper{
            margin-bottom: 0px; 
            .article-slider a.slide{
                max-width: 80vw;
                p{ 
                    padding-right: 0px; 
                    padding-bottom: 30px; 
                }
            }
        }
        &:after{
            display: none; 
        }
    }
}

@media screen and (max-width: 500px){
    section.header-bubble.container {

        h1, p {
            width: 100%;
        }
        .inner-wide .cta-image{
            picture{
                width: 180px; 
            }
        }
        .article-slider-wrapper{
            width: 100%;
            padding: 0px 20px; 
            .article-slider a.slide{
                width: 85vw;
                .inner-slide{
                    padding: 24px; 
                }
            }
        }
    }
}