section.search {
   padding: 120px 0px; 

   .filter-wrapper,
   .results-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative; 
      z-index: 2; 
   }
 
   .filter-wrapper{
      margin-bottom: 60px;
      margin-top: 60px; 
   }
 
   .results-container{ 
      display: flex; 
      flex-direction: column; 
      width: 100%; 
      .result-title{
         margin-bottom: 20px; 
      }
      .single-result + .result-title{
         margin-top: 60px; 
      }
   }
 
   .search-notice p{
      padding-bottom: 55px; 
      &:empty{ display: none; }
   }

}

form.search-anywhere{
   position: relative; 
   svg{
      display: flex;  
      position: absolute; 
      height: 48px; 
      margin-left: 20px;
      top: 16px; 
      *{ fill: #191D22; }
   }
   input[type=text]{
      padding-left: 90px
   }
   input[type=submit]{
      position: absolute; 
      background-color: transparent; 
      right: 0px;
      top: 0px; 
      height: 80px; 
      width: 80px; 
      background-image: url('images/arrow-right-longer-dark.svg');      
      background-repeat: no-repeat;
      background-position: 10px center;
      background-size: 40px; 
   }
   @media screen and (max-width: 500px){
      svg{
         display: flex;  
         position: absolute; 
         height: 28px; 
         margin-left: 6px;
         top: 21px; 
         *{ fill: #191D22; }
      }
      input[type=text]{
         padding-left: 54px;
         height: 66px; 
         font-size: 20px;
      }
      input[type=submit]{
         height: 66px; 
         background-position: 28px center; 
         background-size: 32px; 
      }
   }
}
 
 
section.search .big-search {
   width: 100%;
   .search-bar {
      position: relative;
       
      .search-icon{
         position: absolute;
         left: 30px;
         top: 50%;
         transform: translateY(-50%);
         width: 20px;
         height: 20px;
         user-select: none;
         svg{
            width: 100%;
            height: 100%;
            *{ fill: #000; }
         }
      }
      input {
         width: 100%;
         height: 80px;
         padding: 0px 180px 0px 80px;
         transition: all 0.2s;
      }
    
      .status-indicator {
         display: flex;
         align-items: center;
         position: absolute;
         height: 100%;
         right: 18px;
         top: 0;
    
         .search-cta {
            margin-top: 2px;
            user-select: none;
            cursor: pointer;
         }
    
         .loading-icon {
            display: none;
    
            img {
               height: 21px;
            }
         }
      }
    
   }
}
 
section.search.loading {
    .big-search .search-bar .status-indicator {
       .loading-icon {
          display: flex;
       }
 
       .search-cta {
          display: none;
       }
    }
}

@media screen and (max-width: 900px) {
    section.search .big-search {
        .search-bar {
            .search-icon{ display: none; }
            input {
                padding: 0px 140px 0px 20px;
            }
            .status-indicator{
                .cta{ padding: 12px 20px 12px 20px; }
             }
        }
    }
}